{% extends 'base.html' %}
{% block title %}Horas Extras{% endblock %}

{% block main %}
    <ul class="hora-extra-list">
        {% for hora in horas_extras %}
            <li class="hora-extra-item">
                <a href="{% url 'hora-extra-edit' hora.id %}">{{hora}}</a>
                <a href="{% url 'hora-extra-delete' hora.id %}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
            </li>
        {% endfor %}
    </ul>

    <a id="add-link" href="{% url 'hora-extra-create' %}">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>Adicionar hora extra
        </div>
    </a>
{% endblock %}